button.mltlngg-lang-button-icons{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  border: 1px solid #ffffff;
}

button.mltlngg-lang-button-icons:first{
  border-right: none;
}

button.mltlngg-lang-button-icons.selected,
button.mltlngg-lang-button-icons:hover,
button.mltlngg-lang-button-icons:active,
button.mltlngg-lang-button-icons:focus {
      color: #fcd088;
    -webkit-transition: color 0.3s;
  transition: color 0.3s;
      background-color: inherit;
  border: 1px solid #fcd088;
  box-shadow: none;
      outline: none;
}